.App {
  margin: 60px auto;
  max-width: 600px;
}

.App footer {
  color: #fff;
  font-size: 11px;
  margin: 10px 0;
  text-align: center;
}

.App a {
  text-decoration: none;
}

.App a:hover {
  text-decoration: underline;
}
